<div class="card">
  <div class="card--top">
    <div class="card--top--logos">
      <div class="logo--badge">
        <img src="../../../assets/user1.png" alt="user1" />
      </div>
      <div class="logo--badge">
        <img src="../../../assets/user2.png" alt="user2" />
      </div>
      <div class="logo--badge">
        <img src="../../../assets/user3.png" alt="user3" />
      </div>
      <div class="logo--count"><div class="logo--number">18</div></div>
    </div>
    <div class="status">Too late to join</div>
  </div>
  <div class="card--title">Weekly Challenges</div>
  <app-player place="1"></app-player>
</div>
