<div class="card">
  <div class="card__top">
    <div class="card__top--logos">
      <div class="logo__badge">
        <img [src]="users[0].img" alt="user1" />
      </div>
      <div class="logo__badge">
        <img [src]="users[1].img" alt="user2" />
      </div>
      <div class="logo__badge">
        <img [src]="users[2].img" alt="user3" />
      </div>
      <div class="logo__count">
        <p class="logo__number">{{ numberOfParticipants }}</p>
      </div>
    </div>
    <span class="status" [class.hide]="isTooLateToJoin">Too late to join</span>
  </div>
  <h2 class="card__title" [class.card__title--late]="!isTooLateToJoin">
    Weekly Challenges
  </h2>
  <app-player place="1" [user]="users[3]"></app-player>
  <app-player place="2" [user]="users[4]"></app-player>
  <app-player place="3" [user]="users[5]"></app-player>
  <app-status [user]="users[6]"></app-status>
  <app-more-button [isTooLateToJoin]="isTooLateToJoin"></app-more-button>
</div>
