.cta__reset {
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.cta {
  align-items: center;
  background: var(
    --Grad-2,
    linear-gradient(117deg, #81edb9 16.87%, #c2f0ed 86.01%)
  );
  border-radius: 13px;
  display: flex;
  height: 47px;
  justify-content: center;
  width: 303px;

  &__text {
    color: #082618;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}

.cta--disable {
  background: #303236;
  border: 0.5px solid rgba(255, 255, 255, 0.2);

  .cta__text {
    color: #fff;
  }
}
