.header {
  align-items: center;
  color: white;
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
  width: 332px;

  &__logo {
    align-items: center;
    color: white;
    display: flex;
    font-weight: 600;
    flex-grow: 0;
    justify-content: center;
    margin-right: 10px;

    /* Ellipse */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("./../../../assets/images/Ellipse\ 1.png");
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  &__user {
    flex-grow: 99;

    .header__name {
      font-size: 12px;
    }

    .header__points {
      display: flex;

      .header__crown {
        margin-left: 10px;
      }
    }
  }

  &__add {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
