<header class="header">
  <span class="header__logo">AG</span>
  <div class="header__user">
    <span class="header__name">Alex G</span>
    <div class="header__points">
      <div class="header__bits">
        <object
          type="image/svg+xml"
          data="../../../assets/images/bits.svg"
          width="16"
          height="10"
          aria-label="bits label"
        ></object>
        3000xBits
      </div>
      <div class="header__crown">
        <object
          type="image/svg+xml"
          data="../../../assets/images/crown.svg"
          width="14"
          height="10"
          aria-label="bits label"
        ></object>
        85
      </div>
    </div>
  </div>
  <div class="header__add">
    <object
      type="image/svg+xml"
      data="../../../assets/images/addSomething.svg"
      width="19"
      height="17"
      aria-label="bits label"
    ></object>
  </div>
</header>
