.status {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;

  .status__logo {
    flex-grow: 1;

    img {
      border-radius: 50%;
      height: 24px;
      width: 24px;
    }
  }

  .status__user {
    display: flex;
    color: #fff;
    flex-direction: column;
    flex-grow: 1;

    .user__name {
      font-size: 10px;
      font-weight: 500;
    }

    .user__tag {
      font-size: 8px;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .status__info {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .info__days {
      background: #261516;
      border: 2px solid #ff6f6f;
      border-radius: 50%;
      color: #ff6f6f;
      font-size: 12px;
      height: 24px;
      line-height: 22px;
      stroke: #ff6f6f;
      text-align: center;
      width: 24px;
    }

    .info__additional {
      color: #fff;
      margin-left: 8px;

      .info__data {
        font-size: 10px;
      }

      .info__name {
        font-size: 8px;
        font-weight: 400;
        opacity: 0.5;
      }

      .status__info--warn {
        color: #ff6f6f;
      }
    }

    &--size {
      flex-grow: 7;
    }
  }
}
