<div class="status">
  <div class="status__logo">
    <img [src]="user.img" alt="user photo" />
  </div>
  <div class="status__user">
    <span class="user__name">{{ user.login }}</span>
    <span class="user__tag">{{ user.userTag }}k</span>
  </div>
  <div class="status__info">
    <object
      type="image/svg+xml"
      data="../../../assets/images/statusInfoLogo.svg"
      width="24"
      height="24"
      aria-label="bits label"
    ></object>
    <div>
      <div class="info__additional">
        <p class="info__data">20,000</p>
        <p class="info__name">@xBits prize</p>
      </div>
    </div>
  </div>
  <div class="status__info status__info--size">
    <div class="info__days">3</div>
    <div>
      <div class="info__additional">
        <p class="info__data status__info--warn">Days</p>
        <p class="info__name status__info--warn">past</p>
      </div>
    </div>
  </div>
</div>
