<div class="player">
  <div class="player__background">
    <div class="player__color">
      <div class="player__place">
        <span class="place__number">{{ place }}</span>
        <span class="place__text">
          {{ place === "1" ? "st" : place === "2" ? "nd" : "rd" }}
        </span>
      </div>
    </div>
    <div
      class="player__shade"
      [class.player__shade--won]="user.moneyOnPlus"
      [class.player__shade--lost]="!user.moneyOnPlus"
    ></div>
  </div>
  <div class="player__data">
    <div class="player__img">
      <img [src]="user.img" alt="user image" />

      <object
        type="image/svg+xml"
        data="../../../assets/images/img cover.svg"
        width="48"
        height="41"
        aria-label="image cover"
      ></object>
    </div>
    <div class="player__statictics">
      <div class="player__name">
        {{ user.firstName }} {{ user.secondName }}
        <span *ngIf="!user.isAuthenticatedUset">
          <object
            type="image/svg+xml"
            data="../../../assets/images/authentication.svg"
            width="14"
            height="14"
            aria-label="authentication label"
          ></object>
        </span>
      </div>
      <div class="player__score">
        <div class="player__score--single">
          <span class="score__number">{{ user.alert }}</span>
          <span class="score__description">Alerts</span>
        </div>
        <div class="player__score--single">
          <span class="score__number">{{ user.winRate }}</span>
          <span class="score__description">Win Rate</span>
        </div>
        <div class="player__score--single">
          <span class="score__number">{{ user.yieldValue }}</span>
          <span class="score__description">Yield</span>
        </div>
      </div>
    </div>
    <div
      class="player__balance"
      [class.player__balance--won]="user.moneyOnPlus"
      [class.player__balance--lost]="!user.moneyOnPlus"
    >
      <span class="balance__money"
        >{{ user.moneyOnPlus ? "+" : "-" }} {{ user.money }}</span
      >
      <span class="balance__percentage">{{ user.winRate }}</span>
    </div>
  </div>
</div>
