.vector {
  position: absolute;
  width: 100%;
  height: 99px;
  left: 0px;
  top: 52px;
  background: linear-gradient(270deg, #087aff 38.5%, #a3ffe3 98.16%);
  opacity: 0.85;
  filter: blur(89.5px);
}

.main {
  position: relative;
  background-color: #000000;
  padding-bottom: 25px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--content {
      padding-top: 40px;
      width: 332px;
      position: relative;
    }
  }
  .addButton {
    position: sticky;
    bottom: 48px;
    left: 80vw;
  }
}
