.vector {
  background: linear-gradient(270deg, #087aff 38.5%, #a3ffe3 98.16%);
  filter: blur(89.5px);
  height: 99px;
  left: 0px;
  opacity: 0.85;
  position: absolute;
  top: 52px;
  width: 100%;
}

.outer {
  background-color: #000000;
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    &--content {
      padding-top: 40px;
      position: relative;
      width: 332px;
    }
  }

  .addButton {
    bottom: 48px;
    left: 80vw;
    position: sticky;
  }
}
