*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", "Roboto", "Helvetica Neue", sans-serif;
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

noscript {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
  margin-top: 20px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -ms-appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

noscript {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: center;
  margin-top: 20px;
}
